base_url: ""
corp_name: "Demo Corp"
trusted_url_base: "http://localhost:4567"
dev_mode: false

# Only enable these for development work
#dev_mode: true # Will create a "Default" user, who is an admin without needing to login
#fake_igb_character: "Character Name" # Will pretend that the given user is logged in

