%h3 Pending Events
= haml :events_partial

%h3 Players
%table
	%tr
		%th Player/Main
		%th Characters
		%th
	- @players.each do |player|
		%tr
			%td= player.name
			%td
				- player.active_characters.each do |character|
					=character.name
					,
			%td
				%a{:href => $base_url + '/edit_player/' + player.id.to_s + '/'} Edit
(#{@players.count} Players Total)


%form{ :action => $base_url + "/add_player/", :method => "post"}
	%fieldset
		%label Name:
		%input{:type => "text", :name =>"name"}
		%input{:type => "submit", :value => "Add Player"}

%form{ :action => $base_url + "/set_minimum_point_value/", :method => "post"}
	%fieldset
		%label Minimum Point Value:
		%input{:type => "text", :name =>"value", :value => @config.minimum_point_value}
		%input{:type => "submit", :value => "Save"}
