%h3 Players
%table
	%tr
		%th Player/Main
		%th Characters
		%th
	- @players.each do |player|
		%tr
			%td= player.name
			%td
				- player.active_characters.each do |character|
					=character.name
					,
			%td
				%a{:href => $base_url + '/edit_player/' + player.id.to_s + '/'} Edit
(#{@players.count} Players Total)


%form{ :action => $base_url + "/add_player/", :method => "post"}
	%fieldset
		%label Name:
		%input{:type => "text", :name =>"name"}
		%input{:type => "submit", :value => "Add Player"}

%form{ :action => $base_url + "/set_minimum_point_values/", :method => "post"}
	%fieldset
		%label Minimum Point Value (rollover):
		%input{:type => "text", :name =>"limit1", :value => @config.limit1}
		%label Second point threshold (no rollover):
		%input{:type => "text", :name =>"limit2", :value => @config.limit2}
		%label Third point threshold (no rollover):
		%input{:type => "text", :name =>"limit3", :value => @config.limit3}
		%input{:type => "submit", :value => "Save"}
