%h1 #{@create_or_edit} Event

- if @message
	%h3=@message

%form{ :action => $base_url + @submit_relative_url, :method => "post"}
	%fieldset
		%div
			%label Type
			%select{:name => "event_type"}
				- $event_types.each do |type|
					%option{:value => type, :selected => @event ? @event.event_type == type : false}= type
		%div
			%label Description:
			%input{:type => "text", :name =>"description", :value => @event ? @event.description : ""}
		%div
			%label Corner value (millions):
			%input{:type => "text", :name =>"corner_value", :value => @event ? @event.corner_value : ""}
		%div
			%label When (Eve time; leave blank to set to current time):
			%input{:type => "text", :name =>"event_time", :value => @event ? @event.event_time.to_s : ""}
		%div
			%label Characters (one per line, can paste from fleet window):
			%textarea{:name =>"characters"}
				- if @event
					- @event.characters.each do |character|
						=character.name + "&#x000A;"
		%div
			%label Or search for characters
			%input{:type => "text", :name =>"search_character", :id => "search_character"}

		%input{:type => "hidden", :name => "event_id", :value => @event ? @event.id : ""}

		%input{:type => "submit", :value => @create_or_edit + " Event"}

:javascript

	function pageFunction() {
		var charactersEngine = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			local: $.map(#{@charactersArray}, function(character) { return { value: character }; })});

		charactersEngine.initialize();
		$('#search_character').typeahead({
			minLength: 1,
			highlight: true,
		},
		{
			name: 'characters',
			source: charactersEngine.ttAdapter()
		});
	}
