%h1 #{@create_or_edit} Event

- if @message
	%h3=@message

%form{ :action => $base_url + @submit_relative_url, :method => "post"}
	%fieldset
		%label Type
		%select{:name => "event_type"}
			- $event_types.each do |type|
				%option{:value => type, :selected => @event ? @event.event_type == type : false}= type
		%label Description:
		%input{:type => "text", :name =>"description", :value => @event ? @event.description : ""}
		%label Corner value (millions):
		%input{:type => "text", :name =>"corner_value", :value => @event ? @event.corner_value : ""}
		%label When (Eve time; leave blank to set to current time):
		%input{:type => "text", :name =>"event_time", :value => @event ? @event.event_time.to_s : ""}
		%label Characters (one per line, can paste from fleet window):
		%textarea{:name =>"characters"}
			- if @event
				- @event.characters.each do |character|
					=character.name + "&#x000A;"

		%input{:type => "hidden", :name => "event_id", :value => @event ? @event.id : ""}

		%input{:type => "submit", :value => @create_or_edit + " Event"}
