%h1 Edit #{@player.name}

- if @message
	%h3=@message

%form{ :action => $base_url + "/edit_player/" + @player.id.to_s + "/", :method => "post"}
	%fieldset
		%div
			%label Name:
			%input{:type => "text", :name =>"name", :value => @player.name}
		%div
			%label Is Administrator
			%input{:type => "checkbox", :name =>"admin", :value => "admin", :checked => @player.admin}
		%div
			%input{:type => "submit", :value => "Save"}

%h3 Characters

%table
	%tr
		%th Name
		%th
	- @player.characters.each do |character|
		%tr
			%td= character.name
			%td
				%a{:href => $base_url + '/delete_character/' + character.id.to_s + '/'} Delete

Has password set: #{@player.password? ? "Yes" : "No"}

%form{ :action => $base_url + "/add_character/", :method => "post"}
	%fieldset
		%label Name:
		%input{:type => "text", :name =>"name"}
		%input{:type => "hidden", :name => "player_id", :value => @player.id.to_s}
		%input{:type => "submit", :value => "Add Character"}

%form{ :action => $base_url + "/admin_reset_password/", :method => "post"}
	%fieldset
		%label Set new password for #{@player.name}:
		%input{:type => "password", :name =>"password"}
		%input{:type => "hidden", :name => "player_id", :value => @player.id.to_s}
		%input{:type => "submit", :value => "Set password"}
